.scrollUp {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  filter: drop-shadow(0px 0px 5px #000);
}

.scrollUp__button {
  background-color: var(--color-primary-variant);
  width: 50px;
  height: 50px;
  border-radius: 30px;
  position: fixed;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  z-index: 99;
}

.scrollUp__button:hover {
  background-color: var(--color-primary);
}

.scrollUp__up {
  width: 70%;
  margin: 5px auto;
  display: block;
}

/* MEDIA QUERIES (DISPOSITIVOS PEQUEÑOS) */
@media screen and (max-width: 600px) {
  .scrollUp {
    bottom: 8rem;
    right: 3.5rem;
  }
}
