.experience__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 250px 150px;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  width: 30px;
  height: 30px;
  color: var(--color-primary);
  -webkit-filter: drop-shadow(1px 1px 2px #222222);
  filter: drop-shadow(1px 1px 2px #222222);
}

/* MEDIA QUERIES (DISPOSITIVOS MEDIANOS) */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
    grid-template-columns: 200px 150px;
    justify-content: space-around;
  }
}

/* MEDIA QUERIES (DISPOSITIVOS PEQUEÑOS) */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
  .experience__content {
    grid-template-columns: 150px 130px;
  }
}
